/* INDEX SIDE */

/* header */
header {
  display: flex;
  justify-content: right;
}

nav a {
  color: black;
}

/* H1 */
.red {
  color: red;
}

/* grid box kategorier */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.category-box {
  background-color: grey;
  color: white;
  padding: 30px;
  border-radius: 5px;
  text-decoration: none;
}

/* PRODUKT LISTE SIDE */

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card img {
  width: 100%;
  height: auto;
}
