/* INDEX SIDE */

/* header */
header {
  display: flex;
  justify-content: right;
}

nav a {
  color: black;
}

/* H1 */
.red {
  color: red;
}

/* grid box kategorier */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.category-box {
  background-color: grey;
  color: white;
  padding: 30px;
  border-radius: 5px;
  text-decoration: none;
}

/* PRODUKT LISTE SIDE */

/* SECTION GRID */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, fr);
}

.product-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
}

.products a {
  color: black;
}

/* BILLEDER */
.product-card img {
  width: 100%;
  height: auto;
}

/* SOLD OUT */
.sold-out_container {
  position: relative;
  text-align: center;
}

.sold-out_container img {
  filter: opacity(50%);
}

.sold-out {
  background-color: gray;
  color: white;
  padding: 30px;
  position: absolute;
  top: 8px;
  left: 16px;
}

/* SALE */
.sale {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.sale-red {
  background-color: red;
}

/* text color */
.grey {
  color: lightslategray;
}
